/* @import "bootstrap/dist/css/bootstrap.css"; */
/* 
body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

li {
  color: #1f67f0;
}

.container {
  padding: 20px;
}

.container-sm {
  max-width: 600px;
}

.header,
.footer {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  height: 100vh;
}

.header {
  border-bottom: 1px solid #1f67f0;
}

.header__logo {
  display: flex;
  list-style: none;
  font-size: 18px;
}

.header__logo li {
  padding: 10px 20px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #1f67f0;
}

.red-color {
  color: #c73659;
} */
