body {
  padding: 50px;
}

h1 {
  color: rgb(104, 106, 230);
}

h2,
h3 {
  color: rgb(80, 82, 80);
}

.button {
  padding: 10px 24px;
  font-size: 18px;
  color: #ffffff;
  background-color: rgb(137, 237, 237);
  border-radius: 8px;
  border: none;
}
